$font-size: 15px;
$font-family: 'SF Mono', Monaco, 'Lucida Console', monospace;

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html, body {
  margin: 0; padding: 0;
  width: 100%; height: 100%;
  background: #eee;

  color: #333;
  font-family: $font-family;
  font-size: $font-size;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#editor, #editor .CodeMirror {
  width: 100%; height: 100%;
  font-family: $font-family;
  font-size: $font-size;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

#editor-container {
  flex: 1;
  height: 100%;
  overflow: auto;
}

#output {
  width: 60%;
  font-family: $font-family;
  font-size: $font-size;
  margin: 0; padding: 0;
  display: flex;
  flex-direction: row;
}

#output .col {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

#output .col.left {
  flex: 1;
}

#output .col.right {
  width: 30%;
}

#output .output-section {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: #fefefe;
  margin: 0 0 3px 3px;
  padding: 5px;
  overflow: auto;
}

#output .output-section header {
  font-variant: small-caps;
  font-weight: bold;
  color: #333;
}

#output .output-section textarea {
  flex: 1;
  padding: 5px 0;
  outline: none;
  resize: none;
  background: none;
  border: none;
  color: #333;
}

#output .output-section pre {
  flex: 1;
  padding: 5px 0;
  overflow: auto;
}

#output .status-section {
  margin: 8px 0;
  padding: 8px 0;
}

#output .status-section .icon {
  text-transform: lowercase;
  font-variant: normal;
  color: #ffffff;
  border-radius: 50%;
  font-size: 1.0em;
  text-align: center;
  width: $font-size; height: $font-size;
  display: inline-block;
  vertical-align: middle;
}

#output .status-section.success {
  color: #2ecc71;
}
#output .status-section.success .icon {
  background-color: #2ecc71;
}

#output .status-section.failed {
  color: #e74c3c;
}
#output .status-section.failed .icon {
  background-color: #e74c3c;
}

#output .status-section.loading {
  color: #e67e22;
}
#output .status-section.loading .icon {
  background-color: #e67e22;
}

#stderr {
  color: #f07178;
  overflow: auto;
}

#stdout {
  overflow: auto;
}

#stdout[disabled] {
  background: #eeeeee;
}

#stdin, #stdout, #expected-stdout {
  color: #555;
}


#stdin, #stdout, #stderr, #expected-stdout {
  font-size: $font-size;
}

details summary {
  color: #626887;
}

.header {
  padding: 10px 15px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fafafa;
  border: 1px solid #eeeeee;
  color: #333;
  padding: 3px 30px 3px 5px;
  position: relative;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAS0lEQVQ4jWNgGAWjYPACZgYGhh4GBoY1OHAnVA1JQIGBgeEBAwPDfzR8h4GBQZZcl6IbeoeBgUGGXMPQDb1NDcNgQJ6aho2CUYAGACiuEUHnKCPJAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center right;
  font-size: $font-size;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  #output {
    width: 100%;
    height: 35%;
  }

  #output .output-section {
    margin: 3px 3px 0 0;
  }
}
